.sidebar {
    width: 250px;
    height: 100vh;
    background-color: #171717;
    transition: transform 0.3s ease;
    z-index: 1040;
}

.add-chat {
    width: 100%;
    background: transparent;
    border: 1px solid #3e3e3e !important;
    border-radius: 5px;
    color: #fff;
    gap: 5px;

    &:hover {
        background: #3e3e3e;
    }
}

.chat {
    cursor: pointer;

    &:hover {
        background: #3e3e3e;
    }
}

.chat.active {
    background: #3e3e3e;
}

.trash {
    color: #5f5f5f;
    transition: color .3s ease;

    &:hover {
        color: #fff;
    }
}

.main {
    height: 100vh;
    background: #212121;
}

.menu {
    cursor: pointer;
}

.topbar {
    background: #212121;
}

.form {
    max-width: 90%;
}

.input {
    padding-right: 3rem;
}

.submit-btn {
    right: 0.75rem;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    color: #353535;

    &:hover {
        color: #171717;
    }
}

.chat-area {
    padding: 5px 10px;
    height: calc(100vh - 121.667px);
    overflow-y: auto;
}

.chat-area p:first-child {
    margin-bottom: 0;
}

.chat-area::-webkit-scrollbar {
    width: 5px;
}

.chat-area::-webkit-scrollbar-track {
    background: #f1f1f1;
}

.chat-area::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 5px;
}

.chat-area::-webkit-scrollbar-thumb:hover {
    background: #555;
}

.message {
    max-width: 75%;
    margin: .5rem 0;
}

.user-message {
    background-color: #007bff;
    color: white;
    border-radius: 15px;
}

.bot-message {
    background-color: #f8f9fa;
    border: 1px solid #dee2e6;
    border-radius: 15px;
}

@media (max-width: 767px) {
    .sidebar {
        position: fixed;
        top: 0;
        bottom: 0;
        left: 0;
        transform: translateX(-100%);
    }

    .sidebar.show {
        transform: translateX(0);
    }

    .main {
        height: 100vh;
    }

    .chat-area {
        height: calc(100vh - 146.667px);
    }
}