.custom-header {
  position: fixed;
  top: 0;
  right: 0;
  width: calc(100% - 200px);
  height: 55px;
  background-color: #fff;
  box-shadow: -2px 0 10px rgba(0, 0, 0, 0.1);
  z-index: 1000;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 0 30px;
}

.custom-header-full {
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  height: 55px;
  background-color: #fff;
  box-shadow: -2px 0 10px rgba(0, 0, 0, 0.1);
  z-index: 1000;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 0 30px;
}

.custom-header .navbar-toggler {
  border: none;
}

.custom-header .header-icons {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 15px;
  /* Adjust the gap as needed */
}